@model IEnumerable<ToDoList.Models.EventModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddNewEvent">Add new Item</a>
</p>
<p>
    <a asp-action="CategoryList">All Categories</a>
</p>
<p>
    <a asp-action="CreateCategory">Add new Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @if(item.DueDate!=DateTime.MinValue)
                {
                        @Html.DisplayFor(modelItem => item.DueDate)
                }else {<span>None</span>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedCategory.name)
            </td>
            <td>
                    <input type="checkbox" checked="@item.IsCompleted" onchange="location.href='Home/ChangeCompleteStatus/@item.id'">
            </td>
            <td>
                <a asp-action="DeleteEvent" asp-controller="Home" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
